#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#clear {
    border: solid black
}
#grid {
    display: flex;
    flex-direction:initial;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    border: solid black;
    align-items: stretch;
}

.gridBlock {
    background-color: aquamarine;
    width: 100%;
    /*border: solid black;*/
}

.gridBlock:hover {
    background-color: rgb(27, 138, 101);
    /*border: solid black;*/
}
